/* import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*=================Reset======================*/
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s linear;
    /* outline: 1px solid red; */
}

/*=================Global varaibles======================*/
:root {

    /* Color styles */

    /* light */
    --clr-brand: #252edc;
    --clr-ball-1: #9196eece;
    --clr-ball-2: #9196eeb5;
    --clr-background: #edeefb;
    --clr-container-weak: #f4f4f4;
    --clr-container-strong: #e0e0e0;
    --clr-text-strong: #282828;
    --clr-text-light: #3d3d3d;
    --clr-text-weak: #515151;
    --clr-stroke-storng: #666666;
    --clr-stroke-light: #6e6e6e;
    --clr-stroke-weak: #7a7a7a;

    /* semitics */
    --clr-info-lightest: #f1f2fc;
    --clr-info-light: #9095ed;
    --clr-info-brand: #252edc;
    --clr-info-dark: #181e9a;
    --clr-info-darkest: #070930;

    --clr-success-lightest: #f1fdf4;
    --clr-success-light: #90dea1;
    --clr-success-main: #25dc46;
    --clr-success-dark: #189a30;
    --clr-success-darkest: #07300f;

    --clr-warning-light: #f6f0d7;
    --clr-warning-lightest: #eddb90;
    --clr-warning-main: #ddbb26;
    --clr-warning-dark: #9a8018;
    --clr-warning-darkest: #302807;

    --clr-danger-light: #fcedf0;
    --clr-danger-lightest: #ed90a1;
    --clr-danger-main: #dd2b4c;
    --clr-danger-dark: #9a182f;
    --clr-danger-darkest: #30070f;

    --clr-white: #fff;
    --clr-black: #000;

    /* sematic */
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 60%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 60%);


    /* Font */
    --font-base: 'Poppins', Roboto;
    --font-heading: 'Roboto', Poppins;

    /* Text */
    --txt-h1: 3.25rem;
    --txt-title: 2rem;
    --txt-subtitle: 1.5rem;
    --txt-h3: 1.25rem;
    --txt-h5: 1.125rem;
    --txt-base: 1rem;
    --txt-body2: 0.875rem;
    --txt-body3: 0.75rem;
    --txt-caption: 0.625rem;

    --txt-h1-sm: 2.75rem;
    --txt-title-sm: 1.75 rem;
    --txt-subtitle-sm: 1.25rem;
    --txt-h3-sm: 1.25rem;
    --txt-h5-sm: 1.125rem;
    --txt-body2-sm: 0.875rem;
    --txt-body3-sm: 0.75rem;
    --txt-caption-sm: 0.625rem;

    /* space & size */
    --spc-sm: 0.5rem;
    --spc-rg: 1rem;
    --spc-md: 1.5rem;
    --spc-lg: 2rem;
    --spc-xl: 2.5rem;
    --spc-xxl: 3.5rem;
    --spc-xxxl: 5rem;
    --spc-hg: 6rem;
    --spc-xhg: 7rem;

    /* corners */
    --rd-corner-sm: var(--spc-sm);
    --rd-corner-rg: var(--spc-rg);
    --rd-corner-xl: var(--spc-xxxl);
    --rd-corner-gt: 100%;

    /* shadow */

    /* size */
    --max-width: 1200px;
    --fixed-width: 1072px;
    --min-width: 360px;
    --extra-small-width: 340px
}

/* NB: use JS to add a class to the body tag <dark> */
:root.dark-theme {
    /* dark */
    --clr-brand: #8c90ed;
    --clr-ball-1: #9196eece;
    --clr-ball-2: #696dafaa;
    --clr-background: #282828;
    --clr-container-weak: #3d3d3d;
    --clr-container-strong: #515151;
    --clr-text-strong: #f4f4f4;
    --clr-text-light: #e0e0e0;
    --clr-text-weak: #8d8d8d;
    --clr-stroke-storng: #7a7a7a;
    --clr-stroke-light: #6e6e6e;
    --clr-stroke-weak: #666666;
}

@media (prefers-color-scheme: light) {
    :root {
        /* light */
        --clr-brand: #252edc;
        --clr-background: #edeefb;
        --clr-container-weak: #f4f4f4;
        --clr-container-strong: #e0e0e0;
        --clr-text-strong: #282828;
        --clr-text-light: #3d3d3d;
        --clr-text-weak: #515151;
        --clr-stroke-storng: #666666;
        --clr-stroke-light: #6e6e6e;
        --clr-stroke-weak: #7a7a7a;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* dark */
        --clr-brand: #8c90ed;
        --clr-background: #282828;
        --clr-container-weak: #3d3d3d;
        --clr-container-strong: #515151;
        --clr-text-strong: #f4f4f4;
        --clr-text-light: #e0e0e0;
        --clr-text-weak: #8d8d8d;
        --clr-stroke-storng: #7a7a7a;
        --clr-stroke-light: #6e6e6e;
        --clr-stroke-weak: #666666;

    }
}

/*=================Global varaibles End======================*/

/*=================  Global Style  ====================== */
/* html {
    overflow-x: clip;
} */
body {
    display: grid;
    place-items: center;
    position: relative;
    font-family: var(--font-base);
    background: var(--clr-background);
    color: var(--clr-text-strong);
    line-height: 1.5;
    font-size: var(--txt-base);
}


/*Typography*/
h1,
h2,
.title,
.subtile,
h3,
h5 {
    letter-spacing: 0.005rem;
    text-transform: capitalize;
    line-height: 1.25;
    text-align: start;
    font-weight: 700;
    font-family: var(--font-heading);
    margin-block-end: var(--spc-sm);
}

/*Typographyt Size*/
h1 {
    font-size: clamp(var(--txt-h1-sm), 4vw, var(--txt-h1));
    color: var(--clr-text-strong);
}

h2.title {
    font-size: clamp(var(--txt-h2-sm), 4vw, var(--txt-subtitle));
    color: var(--clr-text-strong);

}

h2.subtitle {
    font-size: clamp(var(--txt-subtitle-sm), 4vw, var(--txt-subtitle));
    color: var(--clr-text-light);
}

h3 {
    font-size: clamp(var(--txt-h3-sm), 4vw, var(--txt-h3));
    color: var(--clr-text-light);
}

h5 {
    font-size: clamp(var(--txt-h5-sm), 4vw, var(--txt-h5));
    color: var(--clr-text-light);
}

p {
    font-family: var(--font-base);
    font-size: clamp(var(--txt-base-sm), 4vw, var(--txt-body3));
    line-height: 1.5;
    letter-spacing: 0%;
    color: var(--clr-text-weak);
}

p.caption {
    font-family: var(--font-base);
    font-size: var(--txt-caption);
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--clr-text-weak);
}

/*Link Style*/
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    text-align: center;
}

/*image Style*/
img {
    width: 100%;
    height: auto;
}

/* === utility/classes === */

/*Layout*/
.container {
    width: 100%;
    max-width: var(--max-width);
    background: var(--clr-background);
    padding-inline: var(--spc-xxl);
    padding-block: var(--spc-lg) var(--spc-lg);
    margin-inline: auto;
}

.content {
    width: 100%;
    max-width: var(--fixed-width);
    margin-inline: auto;
}

.content-expand {
    display: none;
    width: 100%;
    max-width: var(--fixed-width);
    margin-inline: auto;
}

.underline {
    width: 100%;
    max-width: 500px;
    height: 0.5px;
    background: var(--clr-brand);
    margin-block: var(--spc-rg);

}

.content-btn {
    width: 100%;
    max-width: 138px;
    display: grid;
    justify-items: center;
    margin: 0 auto;
}

/*placement*/
.grid-content {
    display: grid;
}

.grid-content-center {
    display: grid;
    place-items: center;
}

.grid-content-close {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5rem;
}

.grid-content-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 2rem;
}

.grid-content-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.flex-contentInline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*spacing*/
.mb-sm {
    margin-block: var(--spc-sm);
}

.mb-md {
    margin-block: var(--spc-rg);
}

.mb-lg {
    margin-block: var(--spc-lg);
}

.mI-sm {
    margin-inline: var(--spc-sm);
}

.mI-md {
    margin-inline: var(--spc-rg);
}

.mI-lg {
    margin-inline: var(--spc-lg);
}


.pI-sm {
    padding-inline: var(--spc-sm);
}

.pI-md {
    padding-inline: var(--spc-rg);
}

.pI-lg {
    padding-inline: var(--spc-lg);
}

.pb-sm {
    padding-block: var(--spc-sm);
}

.pb-md {
    padding-block: var(--spc-rg);
}

.pb-lg {
    padding-block: var(--spc-lg);
}

/* === utility/classes End === */
/*=================  Global Style End  ====================== */



/*=================== UI Style =====================*/
/*icon*/
.icon-sm {
    width: 16px;
    height: 16px;

    &__use {
        width: 16px;
        height: 16px;
        stroke: var(--clr-stroke-storng);
    }
}

.icon-md {
    width: 24px;
    height: 24px;

    &__use {
        width: 24px;
        height: 24px;
        stroke: var(--clr-stroke-storng);
    }
}

.icon-lg {
    width: 64px;
    height: 64px;

    &__use {
        width: 64px;
        height: 64px;
        stroke: var(--clr-stroke-storng);
    }
}

/*button*/
.btn {
    width: 100%;
    height: 32px;
    text-align: center;
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 1rem;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--clr-brand);
    color: var(--clr-container-weak);

    p {
        color: var(--clr-background);
    }

    use {
        stroke: var(--clr-background);
    }

    &:hover {
        width: 100%;
        background: var(--clr-brand);
        transform: scale(1.05);
    }
}

.btn-secondary {
    background-color: transparent;
    color: var(--clr-brand);
    border: 1px solid var(--clr-brand);

    p {
        color: var(--clr-brand);
    }


    &:hover {
        width: 100%;
        background: transparent;
        transform: scale(1.05);
        border: 1.5px solid var(--clr-brand);
    }
}

.btn-ghost {
    background-color: transparent;
    color: var(--clr-brand);
    border: 1px solid var(--clr-brand);

    &:hover {
        width: 100%;
        background: transparent;
        transform: scale(1.05);
        border: 1.5px solid var(--clr-brand);
    }
}

/*Cards*/
.cards {
    display: grid;
    grid-template-columns: repeat(3, 312px);
    gap: 32px;
    margin-block: var(--spc-lg);    
}
.card{
    box-shadow: 0px 0px 4px var(--clr-text-light);
}

/* Form */
.icon-container {
    height: 56px;
    width: 56px;
    border: 2px solid var(--clr-stroke-storng);
    border-radius: var(--rd-corner-gt);
}
.form {
    width: 100%;
    max-width: 400px;
    display: grid;
    place-items: center;
    background-color: var(--clr-background);
    box-shadow: 0px 0px 4px var(--clr-text-light);
}
.form-row{
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 27px;
    display: grid;
    grid-auto-rows: auto;
    gap: 8px;
    padding: 8px;
    margin-block-end: var(--spc-lg);
}
.text-label {
    position: absolute;
    top: 0px;
    padding-inline: var(--spc-rg);
    font-size: var(--txt-body2);
}
.form-input {
   
    background-color: var(--clr-container-weak);
    width: 100%;
    height: 32px;
    color: var(--clr-text-light);
    font-size: var(--txt-base);
    border-style: none;
    padding-left: var(--spc-sm);
}

.submitField {
    width: 100%;
    max-width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}